Программирование в Internet/Лабораторная работа №7с/Lab7c/WCFService/TelephoneDictionary/Connected Services/ServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhoneRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneRecord" nillable="true" type="tns:PhoneRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhoneRecord" nillable="true" type="tns:ArrayOfPhoneRecord" />
  <xs:complexType name="PhoneRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneRecord" nillable="true" type="tns:PhoneRecord" />
</xs:schema>